---
title: Links
eleventyExcludeFromCollections: true
layout: base.njk
eleventyImport:
  collections: ["links"]
---
{% from "macros/linkCard.njk" import linkCard %}

<header>
  <h1 class="section-title">{{ title }}</h1>
  {% if description %}
    <h2 class="section-lead">{{ description }}</h2>
  {% endif %}
</header>
<main class="wrapper">
  <article>
    <ol class="cards-list">
      {% for item in collections.links %}
        {{ linkCard(item) }}
      {% endfor %}
    </ol>
  </article>
</main>

