---
title: Links
eleventyExcludeFromCollections: true
layout: base.njk
eleventyImport:
  collections: ["links"]
---
{% include 'topnav.njk' %}
{% from "macros/linkCard.njk" import linkCard %}

<header class="tdbc-hero">
  <div class="tdbc-container">
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ title }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ description }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <article class="tdbc-mx-auto">
    {% block content %}
    <ol class="cards-list">
        {% for item in collections.links %}
            {{ linkCard(item) }}
        {% endfor %}
    </ol>
    {% endblock %}
  </article>
</main>

