{% macro card(type = false, lang = 'en', surtitle = false, title = false, url = false, illustration = false, content = false, meta = false, lazy = true) %}
  <li>
    <article class="card {{ type or '' }} h-entry" lang="{{ lang }}">
      {% if title %}
        <p class="card__title p-name">
          <a href="{{ url }}" hreflang="{{ lang }}" class="u-url">{{ title | safe }}</a>
        </p>
      {% endif %}
      {% if meta %}
        {{ meta | safe }}
      {% endif %}
      {% if content %}
        <p class="card__body p-summary">
          {{ content | markdown | safe }}
        </p>
      {% endif %}
    </article>
  </li>
{% endmacro %}