{% from "macros/meta.njk" import meta %}
{% from "macros/card.njk" import card %}

{% macro linkCard(link, lazy = true) %}
  {% if link.data.authors %}
    {%- for author in link.data.authors -%}
      {%- if not loop.first -%}
        {%- if not loop.last -%}, {% else %} and {% endif -%}
      {%- endif -%}
      {% set authorData = link.data.people[author] %}
      {{ author }}
      {%- if authorData.mastodon %}
        <a class="author__mastodon" href="{{ authorData.mastodon | mastodonUrl }}" aria-label="{{ authorData.mastodon }} on Mastodon"><svg><use xlink:href="#symbol-mastodon" /></svg></a>
      {%- endif %}
    {%- endfor %}
  {% endif %}

  {% set content = link.data.page.excerpt %}

  {% set meta %}
  {{ meta(link) }}
  {% endset %}

  {{ card(
    type = 'link',
    lang = link.data.lang,
    title = link.data.title,
    url = link.data.link,
    content = content,
    meta = meta,
    lazy = lazy)
  }}
{% endmacro %}
