<!DOCTYPE html>
<html lang="en">
{%- set pageTitle %}{% if title %}{{ title|safe }} | {% endif %}{{ meta.siteName }}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{pageTitle|safe }}</title>
    <meta
      name="description"
      content="{{pageDescription}}"
    />
    <link rel="icon" href="{{ '/favicon.png' | url }}" />
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet" />
    <meta
      name="og:title"
      content="{{pageTitle}}"
    />
    <meta
      name="og:description"
      content="{{pageDescription}}"
    />
    {% if thumb %}
      <meta 
        name="og:image"
        content="{{img_path}}{{thumb}}"
      />
    {% else %}
    <meta 
        name="og:image"
        content="/img/horseshoe.svg"
      />
    {% endif %}
    <link rel="preload" href="/fonts/baloo-2-v1-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/baloo-2-v1-latin-regular.woff2" as="font" type="font/woff2" crossorigin>

    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for {{ meta.siteName }}"
      href="/feed/"
    />
  </head>
  <body>
    {{ content | safe }}

    <footer class="tdbc-background--secondary">
      <div class="tdbc-container tdbc-text-align-center">
        <div class="tdbc-row tdbc-ink--light tdbc-mx-auto">
          <p class="tdbc-mb-none">&copy; {% year %} {{ meta.siteName }} • <a href="/about-carter">Carter Baxter</p>
        </div>
      </div>
    </footer>
  </body>
</html>
