<!DOCTYPE html>
<html lang="en">
{%- set pageTitle %}{% if title %}{{ title|safe }} | {% endif %}{{ meta.siteName }}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{pageTitle|safe }}</title>
    <meta name="description" content="{{pageDescription}}" />
    <link rel="icon" href="{{ '/img/horseshoe.svg' | url }}" />
    
    <link href="{{ '/css/main.css' | url }}?v=5" rel="stylesheet" />

    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ meta.siteName }}" href="/feed/" />
    <meta name="og:title" content="{{pageTitle}}" />
    <meta name="og:description" content="{{pageDescription}}" />
    {% if thumb %}
      <meta name="og:image" content="https://another.rodeo{{img_path}}{{thumb}}" />
    {% else %}
      <meta name="og:image" content="https://another.rodeo/img/horseshoe.svg" />
    {% endif %}
  </head>
  <body>
    {% include 'topnav.njk' %}
    <div class="wrapper">
      {%- if thumb %}
        <figure>
          <img src="{{ img_path }}{{ thumb }}" alt="{{ thumb_alt }}">
        </figure>
      {% endif %}
      {{ content | safe }}
      </div>
      <footer>
        <div>
          <p>
            &copy; {% year %} {{ meta.siteName }} 
            • <a href="/about-carter">Carter Baxter</a>
            • <a href="/links">Links</a>
          </p>
        </div>
      </footer>
    <!-- goatcounter is an open source, privacy-friendly web analytics platform. https://www.goatcounter.com/ -->
    <script data-goatcounter="https://rodeo.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
