---
layout: base.njk
---

<main>
    
    <article>
      <h1>{{ title }}</h1>
      {% if description %}
        <h2 class="section-lead">{{ description }}</h2>
      {% endif %}
      {{ content | safe }}
      <small>
        Published <time>{{ date | prettyDate }}</time>
        {% if parent %} in {{ parent }}{% endif %}
      </small>
    </article>
</main>
