---
layout: base.njk
---

<main>
    
    <article>
      <h1>{{ title }}</h1>
      {% if description %}
        <h2 class="section-lead">{{ description }}</h2>
      {% endif %}
      {{ content | safe }}
      <small>
        Have something you'd like to say about this? <a href="/contact">Let me know</a>! | 
        Published <time>{{ date | prettyDate }}</time>
        {% if parent %} in {{ parent }}{% endif %}
   
    </article>
</main>
