---
layout: base.njk
---
<main class="layout">
  <div id="mine">
  <section class="recently">
    <div class="featured-card">
      {%- set post = collections.recent | first %}
      {%- include 'card.njk' %}
    </div>
    <div class="recent-grid">
      {%- for post in collections.recent %}
        {%- if loop.index > 1 %}
          {% include 'card.njk' %}
        {%- endif %}
      {%- endfor %}
    </div>
  </section>
  <section class="older">
    <h2 class="section-title">Older Rodeos</h2>
    <div class="older-list">
      {%- for post in collections.older %}
        {%- if post.data.title and post.data.description and post.data.date %}
          {% include 'card.njk' %}
        {%- endif %}
      {%- endfor %}
    </div><!-- /older-list -->
  </section>
  </div>
  <aside class="sidebar">
    <h2 class="section-title">Not My Rodeo<sup>*</sup></h2>
    <small>* But I like it</small>
    <div class="finds">
      {%- for link in collections.links %}
      <div class="find">
        <a href="{{ link.data.link }}">{{ link.data.title }}</a>
        {{ link.content | safe }}
      </div>
      {% endfor %}
    </div>
  </aside>
</main>
